body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

header,
p{
    background-color: antiquewhite;
    width: 25%;
}

#importante{
    color: #34495E;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 30%;
}

h3 strong{
    background-color: #00FFFF;
}

img{
    border-radius: 70%;
    border: 3px solid black;
}